#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

network  --bootproto=dhcp --onboot=yes --activate

network  --hostname=openstack.lyonsgroup.family
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Root password
rootpw {CENTOS_ROOT_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=192.168.1.1
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr
part biosboot --size=1
part / --size=100000
part /home --size=80000
part /boot --size=80000
part swap --size=20000
part /HP-Disk --size=2600000
part /HP-EXT --size=500000

%packages
@core
-biosdevname
@^server-product-environment
kexec-tools
net-tools
curl
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
exec 1>/tmp/init-install.log 2>&1

export DRIVE_NAME=openstack

runuser -l root -c  'rm -rf /etc/default/grub'
runuser -l root -c  'touch /etc/default/grub'
runuser -l root -c  'chmod 777 /etc/default/grub'

cat > /tmp/grub <<EOF
GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_DISABLE_SUBMENU=true
GRUB_TERMINAL_OUTPUT="console"
GRUB_CMDLINE_LINUX="crashkernel=auto resume=/dev/mapper/cl_$DRIVE_NAME-swap rd.lvm.lv=cl_$DRIVE_NAME/root rd.lvm.lv=cl_$DRIVE_NAME/swap net.ifnames=0 intel_iommu=on igb.max_vfs=7"
GRUB_DISABLE_RECOVERY="true"
GRUB_ENABLE_BLSCFG=true
EOF

runuser -l root -c  'cat /tmp/grub > /etc/default/grub'
runuser -l root -c  'grub2-mkconfig  -o /boot/grub2/grub.cfg'


################# Bond all NIC's together
#export IP=`hostname -I | awk '{print $1}'`
#export IP+="/24"
nmcli connection add type bond con-name os-int-static ifname os-int-static mode 802.3ad
nmcli con mod id os-int-static bond.options mode=802.3ad,miimon=100,lacp_rate=fast,xmit_hash_policy=layer2+3

nmcli con mod os-int-static ipv4.method auto
nmcli con mod os-int-static ipv6.method dhcp
nmcli con mod os-int-static ipv4.never-default no
nmcli con mod os-int-static ipv4.dhcp-fqdn `hostname`.$DOMAIN_NAME
nmcli con mod os-int-static connection.autoconnect yes

ct=0
for DEVICE in `nmcli device | awk '$1 != "DEVICE" && $3 == "connected" && $2 == "ethernet" { print $1 }'`; do
    echo "$DEVICE"
    nmcli connection delete $DEVICE
    nmcli con add type bond-slave con-name os-int-static-slave$ct ifname $DEVICE master os-int-static
    ((ct++))
done

nmcli connection down os-int-static && nmcli connection up os-int-static
##########################################

################# Add bridge
#ip link add os-int-static type bridge
#ip address add dev os-int-static $IP
#ip link set bond0 master os-int-static
#
cat > /etc/sysctl.d/99-netfilter-bridge.conf <<EOF
net.bridge.bridge-nf-call-ip6tables = 0
net.bridge.bridge-nf-call-iptables = 0
net.bridge.bridge-nf-call-arptables = 0
EOF

modprobe br_netfilter

cat > /etc/modules-load.d/br_netfilter.conf <<EOF
br_netfilter
EOF

sysctl -p /etc/sysctl.d/99-netfilter-bridge.conf
###########################


systemctl disable firewalld

yum update -y
yum -y install perl yum-utils cockpit wget git python3-devel python38 make ruby ruby-devel gcc-c++ mysql-devel nodejs mysql-server cockpit-dashboard cockpit-podman cockpit-machines cockpit-networkmanager cockpit-packagekit cockpit-storaged

#Prep initial startup script
wget -O /tmp/vm_functions.sh -d https://mephmanx:{GITHUB_TOKEN}@raw.githubusercontent.com/mephmanx/openstack-scripts/master/vm_functions.sh
chmod 777 /tmp/vm_functions.sh

wget -O /etc/rc.d/rc.local -d https://mephmanx:{GITHUB_TOKEN}@raw.githubusercontent.com/mephmanx/openstack-scripts/master/vmware-centos8-openstack.sh
chmod +x /etc/rc.d/rc.local
###############################

