#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information !!! Docker does NOT work with IPv6, DO NOT ENABLE !!!!!
network  --bootproto=static --device=enp1s0 --onboot=yes --activate --noipv6 --ip={IDENTITY_VIP} --gateway={GATEWAY_ROUTER_IP} --netmask={NETMASK} --nameserver={GATEWAY_ROUTER_IP} --hostname={HOST}
# Root password
rootpw {GENERATED_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr

%packages
%include /mnt/install/repo/ks_configs/packages.cfg
%end

%addon com_redhat_kdump --disable

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot
cp /mnt/install/repo/embedded/* /mnt/sysroot/tmp
%include /mnt/install/repo/ks_configs/create-local-repo.cfg

# Copy downloaded python modules
%include /mnt/install/repo/ks_configs/copy_py_modules_to_root_fs.cfg

# Copy Python Modules to be installed
cp -r /run/install/repo/ks_configs/python.modules /mnt/sysimage/root/

%include /mnt/install/repo/ks_configs/configure-local-repo.cfg
%end

%post
exec 1>/root/init-install.log 2>&1

source /tmp/project_config.sh
source /tmp/vm_functions.sh

install_python_modules

install_packages

setup_keys_certs_for_vm

grow_fs

grub_update

cleanUpNetwork

systemctl stop firewalld
systemctl disable firewalld
systemctl mask firewalld

hypervisor_debug

auto_update

#Disable selinux (or do it in ks)
runuser -l root -c "sed -i 's/\(SELINUX\=\).*/\1disabled/' /etc/selinux/config"

#Prep initial startup script
cp /tmp/init-identity.sh /etc/rc.d/rc.local
chmod +x /etc/rc.d/rc.local
###############################

###Close out cfg file
%end
eula --agreed
reboot --eject
#########
