#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
{NETWORK}
network  --hostname={HOST}
# Root password
rootpw {GENERATED_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone {TIMEZONE} --isUtc --ntpservers={NTP_SERVER}

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr

%packages
@^server-product-environment
kexec-tools
net-tools
curl
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot
cp /mnt/install/repo/embedded/* /mnt/sysroot/tmp
%end

%post
exec 1>/root/init-install.log 2>&1

cp /tmp/id_rsa.crt /etc/pki/ca-trust/source/anchors
runuser -l root -c  'update-ca-trust extract'

yum update -y
yum -y install epel-release
yum update -y

source /tmp/project_config.sh
source /tmp/vm_functions.sh

# adjust main volumes to allocate most size to root volume
grow_fs

dir_name=`find /dev/mapper -maxdepth 1 -type l -name '*cs*' -print -quit`
DRIVE_NAME=`grep -oP '(?<=_).*?(?=-)' <<< "$dir_name"`

runuser -l root -c  'rm -rf /etc/default/grub'
runuser -l root -c  'touch /etc/default/grub'
runuser -l root -c  'chmod +x /etc/default/grub'

cat > /tmp/grub <<EOF
GRUB_TIMEOUT=1
GRUB_DISTRIBUTOR="$(sed 's, release .*$,,g' /etc/system-release)"
GRUB_DEFAULT=saved
GRUB_DISABLE_SUBMENU=true
GRUB_TERMINAL_OUTPUT="console"
GRUB_CMDLINE_LINUX="crashkernel=auto resume=/dev/mapper/cs_$DRIVE_NAME-swap rd.lvm.lv=cs_$DRIVE_NAME/root rd.lvm.lv=cs_$DRIVE_NAME/swap net.ifnames=0 intel_iommu=on rhgb quiet"
GRUB_DISABLE_RECOVERY="true"
GRUB_ENABLE_BLSCFG=true
EOF

runuser -l root -c  'cat /tmp/grub > /etc/default/grub'
runuser -l root -c  'grub2-mkconfig  -o /boot/grub2/grub.cfg'

rm -rf /tmp/grub

ct=0
for FILE in /etc/sysconfig/network-scripts/*;
do
    echo "$FILE"
    IP=(`awk -F'=' '$1 == "IPADDR" {print $2}' $FILE`)
    GATEWAY=(`awk -F'=' '$1 == "GATEWAY" {print $2}' $FILE`)
    DNS1=(`awk -F'=' '$1 == "DNS1" {print $2}' $FILE`)
    NETMASK=(`awk -F'=' '$1 == "NETMASK" {print $2}' $FILE`)
    runuser -l root -c  "touch /etc/sysconfig/network-scripts/ifcfg-eth$ct"

    if [[ ! -z "$IP" ]]; then
#static ip addr
cat > /tmp/eth$ct <<EOF
# Generated by parse-kickstart
TYPE="Ethernet"
NAME="eth$ct"
DEVICE="eth$ct"
UUID="5844195f-b0d7-4d15-9442-87d1340cca2$ct"
ONBOOT="yes"
IPADDR=$IP
BOOTPROTO="static"
GATEWAY=$GATEWAY
DNS1=$DNS1
NETMASK=$NETMASK
EOF
else
#dynamic ip addr (use DHCP)
cat > /tmp/eth$ct <<EOF
# Generated by parse-kickstart
TYPE="Ethernet"
NAME="eth$ct"
DEVICE="eth$ct"
UUID="5844195f-b0d7-4d15-9442-87d1340cca2$ct"
ONBOOT="yes"
BOOTPROTO="dhcp"
EOF

    fi

    runuser -l root -c  "cat /tmp/eth$ct > /etc/sysconfig/network-scripts/ifcfg-eth$ct"
    runuser -l root -c  "rm -rf $FILE"
    ((ct++))
done

# If autoupdate is enabled
if [[ $LINUX_AUTOUPDATE == 1 ]]; then
    dnf install -y dnf-automatic

cat > /etc/dnf/automatic.conf <<EOF
[commands]
upgrade_type = default
random_sleep = 0
network_online_timeout = 60
download_updates = yes
apply_updates = yes
EOF

fi

systemctl stop firewalld
systemctl disable firewalld
systemctl mask firewalld

#Disable root login in ssh and disable password login
if [[ $HYPERVISOR_DEBUG == 0 ]]; then
sed -i 's/\(PermitRootLogin\).*/\1 no/' /etc/ssh/sshd_config
sed -i 's/\(PasswordAuthentication\).*/\1 no/' /etc/ssh/sshd_config
fi

mkdir /root/.ssh
## this allows openstack vm's to ssh to each other without password
runuser -l root -c 'cp /tmp/openstack-setup.key.pub /root/.ssh/authorized_keys'
#### add hypervisor host key to authorized keys
## this allows the hypervisor to ssh without password to openstack vms
runuser -l root -c 'cat /tmp/id_rsa.pub >> /root/.ssh/authorized_keys'
######
mv /tmp/openstack-setup.key.pub /root/.ssh/id_rsa.pub
mv /tmp/openstack-setup.key /root/.ssh/id_rsa
chmod 600 /root/.ssh/id_rsa
chmod 600 /root/.ssh/authorized_keys

## join to dominan
dnf module enable idm:DL1 -y
dnf distro-sync -y
dnf update -y
yum install -y ipa-client freeipa-client ipa-admintools

join_machine_to_domain {CENTOS_ADMIN_PWD_123456789012}

#Prep initial startup script
cp /tmp/init-cloud_common.sh /etc/rc.d/rc.local
chmod +x /etc/rc.d/rc.local
###############################
cat > /tmp/type <<EOF
{TYPE}
EOF

###Close out cfg file
%end
eula --agreed
reboot --eject
#########
