#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information !!! Docker does NOT work with IPv6, DO NOT ENABLE !!!!!
network  --bootproto=static --device=enp1s0 --onboot=yes --activate --noipv6 --ip={SUPPORT_VIP} --gateway={GATEWAY_ROUTER_IP} --netmask={NETMASK} --nameserver={IDENTITY_VIP} --hostname={HOST}
# Root password
rootpw {GENERATED_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr

%packages
%include /mnt/install/repo/ks_configs/packages.cfg
%end

%addon com_redhat_kdump --disable

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot
cp /mnt/install/repo/embedded/* /mnt/sysroot/tmp
%include /mnt/install/repo/ks_configs/create-local-repo.cfg

%include /mnt/install/repo/ks_configs/configure-local-repo.cfg
%end

%post
exec 1>/root/init-install.log 2>&1

source /tmp/project_config.sh
source /tmp/vm_functions.sh

install_packages_openstack

setup_keys_certs_for_vm

grow_fs

grub_update

cleanUpNetwork

systemctl stop firewalld
systemctl disable firewalld
systemctl mask firewalld

hypervisor_debug

auto_update

yum install -y qemu-guest-agent
systemctl enable qemu-guest-agent
systemctl start qemu-guest-agent

join_machine_to_domain {CENTOS_ADMIN_PWD_123456789012}

#Prep initial startup script
cp /tmp/init-cloudsupport.sh /etc/rc.d/rc.local
chmod +x /etc/rc.d/rc.local
###############################

###Close out cfg file
%end
eula --agreed
reboot --eject
#########
