#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information !!! Docker does NOT work with IPv6, DO NOT ENABLE !!!!!
network  --bootproto=static --device=enp1s0 --onboot=yes --activate --noipv6 --ip={SUPPORT_VIP} --gateway={GATEWAY_ROUTER_IP} --netmask={NETMASK} --nameserver={IDENTITY_VIP} --hostname={HOST}
# Root password
rootpw {GENERATED_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone {TIMEZONE} --isUtc --ntpservers={NTP_SERVER}

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr

%packages
@core
-biosdevname
@^server-product-environment
kexec-tools
net-tools
curl
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot
cp /mnt/install/repo/embedded/* /mnt/sysroot/tmp
%end

%post
exec 1>/root/init-install.log 2>&1

cp /tmp/id_rsa.crt /etc/pki/ca-trust/source/anchors
runuser -l root -c  'update-ca-trust extract'

source /tmp/project_config.sh
source /tmp/vm_functions.sh

grow_fs

grub_update $DRIVE_NAME

systemctl stop firewalld
systemctl disable firewalld
systemctl mask firewalld

hypervisor_debug

auto_update

mkdir /root/.ssh
rm -rf /root/.ssh/id_rsa*
## this allows openstack vm's to ssh to each other without password
runuser -l root -c 'cp /tmp/openstack-setup.key.pub /root/.ssh/authorized_keys'
#### add hypervisor host key to authorized keys
## this allows the hypervisor to ssh without password to openstack vms
runuser -l root -c 'cat /tmp/id_rsa.pub >> /root/.ssh/authorized_keys'
######
mv /tmp/openstack-setup.key.pub /root/.ssh/id_rsa.pub
mv /tmp/openstack-setup.key /root/.ssh/id_rsa
chmod 600 /root/.ssh/id_rsa
chmod 600 /root/.ssh/authorized_keys

## join to dominan
dnf module enable idm:DL1 -y
dnf distro-sync -y
dnf update -y
yum install -y ipa-client freeipa-client ipa-admintools

join_machine_to_domain {CENTOS_ADMIN_PWD_123456789012}

#Prep initial startup script
cp /tmp/init-cloudsupport.sh /etc/rc.d/rc.local
chmod +x /etc/rc.d/rc.local
###############################

###Close out cfg file
%end
eula --agreed
reboot --eject
#########
