#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
{NETWORK}
network  --hostname={HOST}
repo --name="Minimal" --baseurl=file:///run/install/repo/Minimal
# Root password
rootpw {CENTOS_ROOT_PWD}
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=192.168.1.1
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
zerombr

%packages
@^server-product-environment
kexec-tools
net-tools
curl
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
exec 1>/tmp/init-install.log 2>&1
systemctl disable firewalld

yum update -y
yum -y install perl yum-utils cockpit wget

#Prep initial startup script
wget -O /tmp/vm_functions.sh -d --header="Authorization: Bearer {GITHUB_TOKEN}" https://raw.githubusercontent.com/mephmanx/openstack-scripts/master/vm_functions.sh
chmod 777 /tmp/vm_functions.sh

wget -O /etc/init.d/vmware-centos8.sh -d --header="Authorization: Bearer {GITHUB_TOKEN}" https://raw.githubusercontent.com/mephmanx/openstack-scripts/master/openstack-node-scripts/centos8-cloud_common.sh
chmod 777 /etc/init.d/vmware-centos8.sh

chkconfig --add vmware-centos8.sh
chkconfig --level 2345 vmware-centos8.sh on
###############################
cat > /tmp/type <<EOF
{TYPE}
EOF

#Install VMWare Tools
wget -O /tmp/VMwareTools-10.3.22-15902021.tar.gz -d --header="Authorization: Bearer {GITHUB_TOKEN}" https://raw.githubusercontent.com/mephmanx/cloud-libs/master/VMwareTools-10.3.22-15902021.tar.gz
tar zxvf /tmp/VMwareTools-10.3.22-15902021.tar.gz --directory /tmp

# If you wish to change which Kernel modules get installed
# The last four entries (no,no,yes,no) map to the following:
# VMware Host-Guest Filesystem
# vmblock enables dragging or copying files
# VMware automatic kernel modules
# Guest Authentication
# and you can also change the other params as well
cat > /tmp/answer << __ANSWER__
yes
/usr/bin
/etc
/etc/init.d
/usr/sbin
/usr/lib/vmware-tools
yes
/usr/share/doc/vmware-tools
yes
yes
no
no
yes
no

__ANSWER__

# Install VMware Tools and redirecting the silent instlal file
runuser -l root -c  '/tmp/vmware-tools-distrib/vmware-install.pl < /tmp/answer'
